.backgroundImage {
  background-image: url("../assets/header-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  position: relative;
}

.backgroundImage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(18, 18, 18, 0.8);
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}