.project_card {
  transition: all 0.5s;
  border-radius: 10px;
  background: #1e1e1e;
  box-shadow: -20px 20px 60px #1a1a1a, 20px -20px 60px #232323;
}

.project_card:hover {
  transition: all 0.5s;
  transform: translateY(-8px);
}
