.resume_border {
  border-left: 5px solid black;
  padding-left: 2rem;
}

.arrow_icon:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: "#333";
}
